# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/

# Virtual environment
.venv/
env/
venv/
*.env

# IDE-specific files
.idea/
.vscode/
*.swp
*.swo

# Database files
*.db
*.sqlite
*.sqlite3

# Log files
*.log

# Test and coverage files
.pytest_cache/
.coverage
htmlcov/

# Build artifacts
dist/
build/

# Sensitive information (e.g., environment variables, secret keys)
.env
.flaskenv
instance/
config.ini
config.py # If it contains sensitive data not meant for version control

# Operating system specific files
.DS_Store
Thumbs.db

# Other temporary files
*~

# ------------------------------------------- #